<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="master/decorator">

<header layout:fragment="header" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Martijn Haex</h1>
                    <p class="intro-text">Java Consultant</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section layout:fragment="about" id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About</h2>
            <h3>A short overview of my professional career.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/profile/PHL.jpg" alt=""/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>July 2013</h4>
                            <h4 class="subheading">Graduation</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Graduation from <a href="https://www.pxl.be" target="_blank">PHL</a>, summa cum laude, in applied information technology with a specialisation in software development.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/profile/C4J.png" alt=""/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>August 2013</h4>
                            <h4 class="subheading">Starting working for C4J</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">During my specialisation in software development, I followed a internship at <a href="http://c4j.be" target="_blank">C4J</a>. A company specialised in Java Consultancy and Training to major enterprises and SMEs. At the end of this internship I was reworded with a contract.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/profile/IPC.gif" alt=""/>
                    </div>
                    <div class="timeline-panel">
                         <div class="timeline-heading">
                            <h4>August 2013</h4>
                            <h4 class="subheading">First Project <a href="http://www.ipc.be" target="_blank">IPC</a></h4>
                         </div>
                        <div class="timeline-body">
                            <p class="text-muted">My first project as Java Consultant. Developing new applications, maintaining legacy applications.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            On to <br/>
                            the <br/>
                            future!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section layout:fragment="me" id="me" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Personal Profile</h2>
            <div class="team-member">
                <img src="img/profile/Martijn.jpg" class="img-responsive img-circle" alt=""/>
                <h4>Martijn Haex</h4>
                <p>Feel free to get in touch with me through one of the following channels!</p>
                <p><a href="mailto:martijn@haexnet.be">m.haex@haexnet.be</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/martijnhaex" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/pub/martijn-haex/62/3a8/261" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Martijn_Haex" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/moekemedelij" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</html>